@import 'src/app/SCSS/styles';
.forgot-password-page{
    @include page-resolution();
}
.border-class{
    @include border-gt-xs(450px,35%,31em);
}
.no-border-class{
    position: $positionAbsolute;
    width:$fullWidth;
    height: $fullHeight;
    overflow: $overflowAuto;
}
.fundoo-title-class{
    font-size:20px;
}
.account-recovery-text{
    margin-top:1em;
    font-size: 20px;
}
form{
    width: $commonMatWidth;
    .email-bar{
        margin-top:1em;
        width:$fullWidth;
    }
}
.further-step{
    margin-top:3em;
    width:$commonMatWidth;
}
.email-recovery-text{
    padding: 15px;
    font-size: 18px;
    color: cornflowerblue;
}
