<div class="forgot-password-page" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center" fxLayout="column" ngClass.gt-xs="border-class"
    ngClass.lt-sm="no-border-class">
    <!-- title -->
    <div class="fundoo-title-class">Fundoo</div>
    <!-- page description-->
    <div class="account-recovery-text">Account Recovery</div>
    <!-- Email or phone input field -->
    <mat-form-field class="email-bar" appearance="outline">
      <mat-label>Email or phone</mat-label>
      <input matInput [formControl]="emailFormController" />
    </mat-form-field>
    <div class="further-step" fxLayout="row" fxLayoutAlign="end center">
      <div><button mat-raised-button color="primary">Next</button></div>
    </div>
  </div>
</div>