<div class="forgot-password-page" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center" fxLayout="column" ngClass.gt-xs="border-class" ngClass.lt-sm="no-border-class">
    <!-- title -->
    <div class="fundoo-title-class">Fundoo</div>
    <!-- page description-->
    <div class="account-recovery-text">Account Recovery</div>

    <div class="email-recovery-text">Enter your recovery email</div>
    <!-- Email or phone input field -->
    <form [formGroup]="emailFormGroup" >
      <mat-form-field class="email-bar" appearance="outline">
        <mat-label>Email or phone</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </form>
    <div class="further-step" fxLayout="row" fxLayoutAlign="space-between center">
        <div><a (click)="backToLoginPage()">back</a>
        </div>
        <div><button mat-raised-button color="primary" (click)="send()">Send</button></div>
      </div>
  </div>
</div>