<div style="background:#eba80c;width:100%;height: 10%;" fxLayoutAlign="center center">
  <h2 style="margin-left:-50%">fundooNotes</h2>
</div>
<div style="width:100%;height: 80%;" fxLayoutAlign="space-around center" fxLayout="column">
  <div style="width:60%" fxLayoutAlign="center center">
    <h2>fundooNotes offered. Choose below service to Register.</h2>
  </div>
  <div style="width:70%" fxLayoutAlign="space-around center">
    <div *ngFor="let service of services" >
      <mat-card (click)="openDialog(service)" ngStyle.gt-xs="width:180px;height:auto" ngStyle.lt-sm="width:100px;height:auto">
          <mat-card-title>
            price: ${{service.price}} per month
          </mat-card-title>
          <mat-card-content>
            {{service.name}}
            <ul>
              <li>${{service.price}}/month</li>
              <li>{{service.description}}</li>
            </ul>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            ADD TO CART
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
  <div style="width:50%" fxLayoutAlign="center center">
    <a (click)="loginPage()">Sing in instead</a>
  </div>
</div>