mat-card{
    overflow-wrap: break-word;
    &:hover{
        transform: scale(1.1,1.2);
        background-color: antiquewhite;
    }
}

.cartDailog{
    mat-dialog-container{
        padding:0;
    }
}