<div style="background:#e4bb5c;width:100%;height: 10%;" fxLayoutAlign="center center">
  <h2 style="margin-left:-50%">fundooNotes</h2>
</div>
<div style="width:100%;height: 80%;" fxLayoutAlign="space-around center" fxLayout="column">
  <div fxLayoutAlign="center center">
    <h2>fundooNotes offered. Choose below service to Register.</h2>
  </div>
  <div style="width:100%; min-width:320px; max-width: 800px;" fxLayoutAlign="space-around center">
    <div class="mat-cards-list" *ngFor="let service of services" >
      <mat-card class="front-mat-card" (click)="openDialog(service)">
          <mat-card-title>
            price: ${{service.price}} per month
          </mat-card-title>
          <mat-card-content>
            {{service.name}}
            <ul>
              <li>${{service.price}}/month</li>
              <li>{{service.description}}</li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card class="back-mat-card" >
          <mat-card-footer fxLayoutAlign="center center">
            ADD TO CART
          </mat-card-footer>
        </mat-card>
    </div>
  </div>
  <div style="width:50%" fxLayoutAlign="center center">
    <a (click)="loginPage()">Sing in instead</a>
  </div>
</div>