.mat-cards-list{
    &:hover{
        transform: scale(1.1,1.2);
        
        .back-mat-card{
            background-color: #e4bb5c;
        }
    }
}
mat-card{
    width:180px;
    height: 200px;
}
.front-mat-card{
    overflow-wrap: break-word;
    display: block;
    position: relative;
    z-index: 1;
}
.back-mat-card{
    display: block;
    position: relative;
    margin-top:-90%;
    margin-left:15%;
    z-index: -1;
    background: gray;
    mat-card-footer{
        margin-top: 105%;
    }
}
.cartDailog{
    mat-dialog-container{
        padding:0;
    }
}

@media screen and (max-width: 599px) {
    
    mat-card{
        width:100px;
        height: 160px;  
    }
    .front-mat-card > mat-card-content{
        font-size:9px;
    }
    .front-mat-card > mat-card-title{
        font-size:16px;
    }
    .back-mat-card{
        font-size: 8px;
        display: block;
        position: relative;
        margin-top:-135%;
        margin-left:10%;
        z-index: -1;
        background: gray;
        mat-card-footer{
            margin-top: 160%;
        }
    }
    
}