@import 'src/app/SCSS/styles';

.common-property{
    width: $commonMatWidth;
}
.register-page{
    width: $fullWidth;
    height:$fullHeight;
}
.no-border-register{
    position: $positionAbsolute;
    width:$fullWidth;
    height: $fullHeight;
    overflow: $overflowAuto;
}
.border-register{
    @include border-gt-xs(450px,50%,35em);
}
.border-greater-than-medium{
    @include border-gt-xs(700px, 50%,37em);
}
.fundoo-title-register{
    font-size:24px;
}
.account-register{
    margin-bottom:1em;
    font-size:24px;
}
.first-last-name{
    width:45%;
}
.first-last-name-sm{
    width:$fullWidth;
}

.password-lt-sm{
    width : $fullWidth;
    margin-bottom: 1em;
}
.password-gt-xs{
    width:45%;
    margin-bottom: 1em;
}
.margin{
    margin-bottom: 1em;
}
.password-div{
    width:90%;
}
.eye-icon-div{
    width:10%;
    height:$fullHeight;
}
.register-further-step{
    margin-top:3em;
    width:$commonMatWidth;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field-suffix{
    transform: translateY(-0.6em)
}