<!-- <div class="dashboard" fxLayoutAlign="space-around center" fxLayout="column"> -->
  <div class="header" fxLayout="row">

    <!-- menu icon -->
    <div ngClass.lt-sm="menu-notes-lt-xs" ngClass.gt-xs="menu-notes-gt-xs" fxLayoutAlign="start center" fxLayout="row">
      <div class="menu-div" fxLayoutAlign="center center"><mat-icon (click)="drawer.toggle()">menu</mat-icon></div>
      <div class="notes-div" fxLayoutAlign="center center"><mat-icon fxHide.lt-sm="true">turned_in_not</mat-icon><h4>Notes</h4></div>
    </div>
    
    <!-- search box -->
    <div fxHide.lt-sm="true" class="search-div" fxLayoutAlign.lt-sm="center center" fxLayoutAlign.gt-xs="center center"
      fxLayout="row">
      <mat-form-field class="search-bar" appearance="outline">
        <span matPrefix><mat-icon>search</mat-icon></span>
        <mat-label>Search</mat-label>
        <input matInput type="search" />
      </mat-form-field>
    </div>
    
    <!-- mat icons -->
    <div fxLayout="row" ngClass.lt-sm="mat-icons-lt-sm" ngClass="mat-icons-gt-xs" fxLayoutAlign="space-around center">
      <div><button mat-mini-fab color="" fxHide.gt-xs="true"><mat-icon>search</mat-icon></button></div>
      <div><mat-icon>refresh</mat-icon></div>
      <div fxHide.lt-sm="true"><mat-icon>list</mat-icon></div>
      <div><mat-icon>settings</mat-icon></div>
    </div>
    
    <!-- account icon -->
    <div class="account-div" fxLayoutAlign="center center">
      <button mat-mini-fab color="primary">N</button>
    </div>

  </div>
  
  <!-- mat drawer sidenav -->
  <mat-sidenav-container class="container" >
      <mat-sidenav #drawer ngClass.gt-xs="sidenav-gt-xs" ngClass.lt-sm="sidenav-lt-sm" mode="side">
        <div><mat-icon>turned_in_not</mat-icon>Notes</div>
        <div><mat-icon>notifications_none</mat-icon>Remainders</div>
          <hr/>
          <div>
            <mat-label>labels</mat-label>
            <div>
              <mat-icon>edit</mat-icon><button mat-button>EditLables</button>
            </div>
          </div>
          <hr>
          <div>
            <div><mat-icon>archive</mat-icon><button mat-button>Archive</button></div>
            <div><mat-icon>restore_from_trash</mat-icon><button mat-button>Trash</button></div>
          </div>
      </mat-sidenav>
    <mat-sidenav-content>

    </mat-sidenav-content>
    </mat-sidenav-container>
    
<!-- </div> -->
