@import 'src/app/SCSS/styles';

.dashboard{
    width:$fullWidth;
    height:$fullHeight;
}
.header{
    width:$fullWidth;
    height:10%;
}
.menu-notes-lt-xs{
    width:50%;
    .menu-div{
        width:30%;
    }
    .notes-div{
        width:30%;
    }
}
.menu-notes-gt-xs{
    width:25%;
    .menu-div{
        width:30%;
    }
    .notes-div{
        width:30%;
    }
}
.search-div{
    width:67%;

}

.search-bar{
    margin-top:1em;
    width:100%;
    height: 100%;
}
.mat-icons-lt-sm{
    width:40%;
}
.mat-icons-gt-xs{
    width:20%;
}

.account-div{
    width:13%;
}

.body-div{
    width:100%;
    height:88%;
}
// .sidenav-div-gt-xs{
//     width:25%;
//     height:100%;
//     z-index:1;
// }
// .sidenav-div-lt-sm{
//     width:200%;
//     height: 100%;
// }
.container {
 width:100%;
 height:88%;
}
.sidenav-gt-xs{
    width:23%;
    height: 100%;  
}
.sidenav-lt-sm{
    width:80%;
    height: 100%;  
}


.sidenav-ul{
    width:100%;
    li{
        &:hover{
            background-color: yellowgreen;
        }
        &:active{
            background-color: yellowgreen;
        }
    }
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-0.8em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field-prefix{
    transform: translateY(-0.3em)
}