<div fxLayout="column">
  <div class="mat-menu-div" fxLayout="row" fxLayoutAlign="space-around center">
    <div  (click)="updateBackgroundColor('#F5F5EC')" style="background-color: #F5F5EC;">
    </div>
    <div  (click)="updateBackgroundColor('#EB716B')" style="background-color: #EB716B;">
    </div>
    <div  (click)="updateBackgroundColor('#FCE42A')" style="background-color: #FCE42A">
    </div>
    <div  (click)="updateBackgroundColor('#6DE391')" style="background-color: #6DE391;">
    </div>
  </div>
  <div class="mat-menu-div" fxLayout="row"  fxLayoutAlign="space-around center">
    <div  (click)="updateBackgroundColor('#1597DB')" style="background-color: #1597DB;">
    </div>
    <div  (click)="updateBackgroundColor('#08ECF2')" style="background-color: #08ECF2;">
    </div>
    <div  (click)="updateBackgroundColor('#8C7FBF')" style="background-color: #8C7FBF;">
    </div>
    <div  (click)="updateBackgroundColor('#D37CE2')" style="background-color: #D37CE2;">
    </div>
  </div>
  <div class="mat-menu-div" fxLayout="row"  fxLayoutAlign="space-around center">
    <div  (click)="updateBackgroundColor('#FF8632')" style="background-color: #FF8632">
    </div>
    <div  (click)="updateBackgroundColor('#EA7AC9')" style="background-color: #EA7AC9;">
    </div>
    <div  (click)="updateBackgroundColor('#A35237')" style="background-color: #A35237;">
    </div>
    <div  (click)="updateBackgroundColor('#959592')" style="background-color: #959592;">
    </div>
  </div>
</div>