<div style="width:100%;height:auto;margin-bottom: 10px;" fxLayoutAlign.gt-xs="center start">

  <div ngStyle.lt-md="width:80%;height:auto;margin-left:5%;" ngStyle.gt-sm="width:60%;height:auto;" fxLayoutAlign.gt-xs="start start" [fxLayout]="data.viewLayoutType" fxLayout.lt-sm="column"
  gdGridAlign>

    <div *ngFor="let note of notesList | search:searchWord">
      <mat-card [ngStyle]="{'background-color':note.color}" ngStyle.gt-xs="margin-left:15px;"
        [ngClass]="{'mat-card-list-gt-xs':!data.viewStyling,'mat-card-grid-gt-xs':data.viewStyling}"
        ngClass.lt-sm="mat-card-list-lt-sm">

        <mat-card-title fxLayoutAlign="space-between center">

          <div (click)="openDialog(note)" style="width:80%;overflow-wrap: break-word;">
            {{note.title}}
          </div>
          <div style="width:20%;" fxLayoutAlign="end center">
            <button mat-icon-button color="" *ngIf="!note.isPined" (click)="pinUnpin(note,true)">
              <img src="src/assets/images/outline_fiber_pin.png" />
            </button>
            <button mat-icon-button color="" *ngIf="note.isPined" (click)="pinUnpin(note,true)">
              <img src="src/assets/images/baseline_fiber_pin.png" />
            </button>
          </div>

        </mat-card-title>
        <mat-card-content (click)="openDialog(note)" style="white-space: pre-wrap;overflow-wrap: break-word;">
          <div>
            {{note.description}}
          </div>
          <!-- if checkList Notes is Present -->
          <div *ngIf="note.description==''" style="white-space: pre-wrap;overflow-wrap: break-word;" fxLayout="column">
            <div *ngIf="checkListItemStatus(note.noteCheckLists,'open');" fxLayout="column">

              <mat-selection-list *ngFor="let item of note.noteCheckLists" (selectionChange)="changecheckListStatus(note.id,item,true)">
                <mat-list-option *ngIf="item.status=='open'" (click)="$event.stopPropagation()" [selected]="false" [checkboxPosition]="after">
                  <span>{{item.itemName}}</span>
                </mat-list-option>
              </mat-selection-list>
  
            </div>
            <div *ngIf="checkListItemStatus( note.noteCheckLists, 'close');" fxLayout="column">
  
                <mat-selection-list *ngFor="let item of note.noteCheckLists" (selectionChange)="changecheckListStatus(note.id,item,false)">
                  <mat-list-option *ngIf="item.status=='close'" (click)="$event.stopPropagation()" 
                  [selected]="true" [checkboxPosition]="after">
                    <span style="text-decoration:line-through;">{{item.itemName}}</span>
                  </mat-list-option>
                </mat-selection-list>

            </div>

          </div>
        </mat-card-content>
        <mat-card-actions fxLayout="column">
          <div>
            <mat-chip-list>
              <mat-chip *ngFor="let reminder of note.reminder" [removable]="true" (removed)="removeReminder(note.id)"
                [style.text-decoration]="reminderDecoration(reminder)">

                {{ reminder | myDate }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <mat-chip *ngFor="let person of note.collaborators">
                {{person.firstName.charAt(0).toUpperCase()}}
              </mat-chip>
              <mat-chip *ngFor="let label of note.noteLabels" [removable]="true"
                (removed)="removeLabel(note.id,label.id)">
                {{label.label}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
          <div>
            <div fxLayoutAlign="space-around center">

              <div>
                <button mat-icon-button color="" [matMenuTriggerFor]="reminder">
                  <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
                </button>
                <mat-menu #reminder="matMenu">
                  <app-reminder-component (reminderData)="setReminder($event,note);"></app-reminder-component>
                </mat-menu>
              </div>

              <div><button mat-icon-button color="" (click)="addCollaborator(note)">
                  <mat-icon matTooltip="Collaborator">person_add</mat-icon>
                </button>
              </div>

              <div>
                <button mat-icon-button color="" [matMenuTriggerFor]="colorsMenu">
                  <mat-icon matTooltip="Change color">color_lens</mat-icon>
                </button>
                <!-- menu of color lens -->
                <mat-menu #colorsMenu="matMenu" fxlayoutAlign="space-around center" fxLayoutGap="2%">
                  <app-color-picker [note]="note" (colorEvent)="emitObservable.next()"></app-color-picker>
                </mat-menu>
              </div>

              <div><button mat-icon-button color="">
                  <mat-icon matTooltip="Add image">crop_original</mat-icon>
                </button>
              </div>

              <div>
                <button mat-icon-button color="" (click)="archive(note)">
                  <mat-icon matTooltip="Archive">archive</mat-icon>
                </button>
              </div>

              <div><button mat-icon-button color="" [matMenuTriggerFor]="more">
                  <mat-icon matTooltip="More">more_vert</mat-icon>
                </button>
                <!-- menu of morevert icon -->
                <mat-menu #more="matMenu">
                  <button (click)="delete(note);" mat-menu-item>
                    Delete
                  </button>
                  <button [matMenuTriggerFor]="label" (click)="addLabel(note);" mat-menu-item>
                    Add label
                  </button>
                  <mat-menu #label="matMenu" style="height:30%;overflow: scroll;">
                    <div (click)="$event.stopPropagation();">
                      Label note
                    </div>
                    <div mat-menu-item (click)="$event.stopPropagation();" style="height:40px;padding:5px;">
                      <mat-form-field appearance="outline">
                        <input matInput type="search" placeholder="search label">
                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="value=''">
                          <mat-icon>search</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div (click)="$event.stopPropagation();" *ngFor="let label of labels">
                      <div mat-menu-item>
                        <mat-checkbox (change)="addLable(note.id,label.id,$event)" color="primary"
                          [checked]="isChecked(note,label)">{{label.label}}</mat-checkbox>
                      </div>
                    </div>
                  </mat-menu>
                  <div mat-menu-item>
                    Show checkboxs
                  </div>
                  <div mat-menu-item *ngIf="note.questionAndAnswerNotes.length==0"
                  [routerLink]='["/dashboard/QuestionAnswer",note.id]'>
                    Ask question
                  </div>
                  <div mat-menu-item *ngIf="note.questionAndAnswerNotes.length>0" [routerLink]='["/dashboard/QuestionAnswer",note.id]'>
                    Show question
                  </div>
                </mat-menu>
              </div>
            </div>
          </div>
        </mat-card-actions>
        <mat-card-footer fxLayoutAlign="center center">
          <div style="width:80%" fxLayout="column" [routerLink]='["/dashboard/QuestionAnswer",note.id]'
            *ngIf="note.questionAndAnswerNotes.length>0">
            <mat-divider></mat-divider>
            <div><b>Question Asked</b></div>
            <div>
              <div [innerHTML]="note.questionAndAnswerNotes[0].message"></div>
            </div>
          </div>
        </mat-card-footer>

      </mat-card>
    </div>
  </div>
</div>