@import 'src/app/SCSS/styles';

@mixin matCard(){
    height:auto;
    margin-top:1em;
    border-radius:10px;
}

@mixin matCardHover(){

    button{
        visibility: hidden;
    }
    &:hover{
        button{
            visibility: visible;
        }
    }
}

.mat-card-lt-sm{
    width:200px;
    @include matCard();
    @include matCardHover();
}
.mat-card-gt-xs{
    width:200px;
    @include matCard();
    @include matCardHover();
}
.mat-menu-div{
    div{
        width:15px;
        height:35px;
        border-radius: 50%;
    }
}