<div style="width:100%;height:auto;margin-bottom: 10px;" fxLayoutAlign.gt-xs="center start">

  <div ngStyle.lt-md="width:80%;height:auto;margin-left:5%;" ngStyle.gt-sm="width:60%;height:auto;" fxLayoutAlign.gt-xs="center start" [fxLayout]="data.viewLayoutType" fxLayout.lt-sm="column"
  gdGridAlign>
  
    <div ngStyle.lt-sm="width:100%;" *ngFor="let note of notesList | search:searchWord">
      
      <mat-card [ngStyle]="{'background-color':note.color}" ngStyle.gt-xs="margin-left:15px;"  ngClass.lt-sm="mat-card-list-lt-sm" *ngIf="note.isDeleted" 
           [ngClass]="{'mat-card-list-gt-xs':!data.viewStyling,'mat-card-grid-gt-xs':data.viewStyling}">
          
          <mat-card-title fxLayoutAlign="space-between center">
    
            <div style="width:100%;overflow-wrap: break-word;">
              {{note.title}}
            </div>
    
          </mat-card-title>
          <mat-card-content style="white-space: pre-wrap;overflow-wrap: break-word;">
            <div>
              {{note.description}}
            </div>
            <!-- if checkList Notes is Present -->
            <mat-list *ngIf="note.description==''">
              <mat-list-item *ngFor="let item of note.noteCheckLists">
                  <mat-checkbox fxFlex disabled="true">{{item.itemName}}</mat-checkbox>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <mat-chip-list>
                <mat-chip *ngFor="let reminder of note.reminder" [removable]="true" [style.text-decoration]="reminderDecoration(reminder)">
                  {{ reminder | myDate }}
                </mat-chip>
                <mat-chip *ngFor="let person of note.collaborators">
                  {{person.firstName.charAt(0).toUpperCase()}}
                </mat-chip>
                <mat-chip *ngFor="let label of note.noteLabels" [removable]="true">
                  {{label.label}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-actions>
        <mat-card-footer>
  
          <div fxLayoutAlign="start center">
  
            <div><button mat-icon-button color="" [matMenuTriggerFor]="more">
                <mat-icon matTooltip="More">more_vert</mat-icon>
              </button>
              <mat-menu #more="matMenu" yPosition="below">
                <button (click)="deleteForever(note);" mat-menu-item>
                  Delete forever
                </button>
                <button (click)="restoreNotes(note);" mat-menu-item>
                  Restore
                </button>
              </mat-menu>
            </div>
          </div>
  
        </mat-card-footer>
  
      </mat-card>
    </div>
  </div>
</div>