/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

html, body { height: 100%; }
body { margin: 0;}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
}

.mat-icon{
    font-family: 'Material Icons' ;
}
$commonMatWidth:88%;

$fullWidth:100%;

$fullHeight:100%;

$positionAbsolute:absolute;

$overflowAuto:auto;

@mixin page-resolution(){
    width:100%;
    height:100%;
}
@mixin border-gt-xs($width,$minWidth,$height){
    width: $width;
    min-width: $minWidth;
    max-width: $fullWidth;
    height:$height;
    border: 1px solid darkgrey;
    border-radius:10px;
}
a{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}


@mixin matCard(){
    height:auto;
    margin-top:1em;
    border-radius:10px;
}

@mixin matCardHover(){

    button{
        visibility: hidden;
    }
    &:hover{
        button{
            visibility: visible;
        }
    }
}

.mat-card-list-lt-sm{
    width:100%;
    min-width:200px;    
    max-width:100%;
    @include matCard();
    @include matCardHover();
}
.mat-card-grid-gt-xs{
    width:185px;
    @include matCard();
    @include matCardHover();
}
.mat-card-list-gt-xs{
    width:600px;
    @include matCard();
    @include matCardHover();
}

.mat-menu-div{
    div{
        width:15px;
        height:25px;
        border-radius: 50%;
    }
}

.mat-card-lt-sm{
    width:80%;
    min-width: 310px;
    // max-width: 80%;
    border-radius:10px;
    padding-left: 2%;
}

.mat-card-gt-xs{
    // width:60%;
    max-width: 550px;
    min-width:550px;
    border-radius:10px;
    padding-left: 2%;
}

.mat-card-footer{
    margin-top:0.5em;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    .footer-icons-div{
    width:70%;
    } 
    .footer-close-button-div{
    width:20%;
    }
}
@media screen and (max-width: 520px) {
.mat-card-footer{
    margin-top:0.5em; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    width:100%;
    .footer-icons-div{
    width:100%;
    justify-content: start;
    } 
    .footer-close-button-div{
    width:100%;
    justify-content: end;
    }
    }

}

.matDialogBox{
    mat-dialog-container {
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
    }
}
.reminder-mat-menu{
    width:400px;
    padding:0
}
.reminder-mat-menu-item{
    div{
        display: inline-block;
        position: relative;
        overflow-wrap: break-word;   
        width:50%;
    }
}

.checkList-text-decoration{
    text-decoration:line-through;
 }