@import 'src/app/SCSS/styles';

@mixin matCard(){
    height:auto;
    margin-top:1em;
    border-radius:10px;
}

@mixin matCardHover(){

    button{
        display: none;
    }
    .empty-mat-card-footer{
        display: block;
    }
    &:hover{
        button{
            display: block;
        }
        .empty-mat-card-footer{
            display: none;
        }
    }
}

.mat-card-lt-sm{
    width:200px;
    @include matCard();
    @include matCardHover();
}
.mat-card-gt-xs{
    width:200px;
    @include matCard();
    @include matCardHover();
}

.colors-div {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    .div {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        margin: 3px;
        border: solid 1px white;
      }
  }