<div style="padding-bottom:40px;" fxLayout="row wrap" fxLayout.lt-sm="column"
  fxLayoutAlign="center start" fxLayoutGap="2%">

  <div *ngFor="let note of notesList?.reverse()">
    <mat-card ngClass.gt-xs="mat-card-gt-xs" ngClass.lt-sm="mat-card-lt-sm" *ngIf="!note.isDeleted">
      <mat-card-title fxLayoutAlign="space-between center">

        <div style="width:80%;overflow-wrap: break-word;">
          {{note.title}}
        </div>
        <div style="width:20%;" fxLayoutAlign="end center">
          <button mat-button color="">pin</button>
        </div>

      </mat-card-title>
      <mat-card-content style="white-space: pre-wrap;overflow-wrap: break-word;">
        <p>
          {{note.description}}
        </p>
      </mat-card-content>

      <mat-card-footer>

        <div fxLayoutAlign="space-around center">

          <div><button mat-icon-button color="">
              <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
            </button></div>

          <div><button mat-icon-button color="">
              <mat-icon matTooltip="Collaborator">person_add</mat-icon>
            </button></div>

          <div><button mat-icon-button color="" class="colorChange">
              <mat-icon matTooltip="Change color">color_lens</mat-icon>
            </button></div>

          <div><button mat-icon-button color="">
              <mat-icon matTooltip="Add image">crop_original</mat-icon>
            </button></div>

          <div><button mat-icon-button color="" (click)="archive()">
              <mat-icon matTooltip="Archive">archive</mat-icon>
            </button></div>

          <div><button mat-icon-button color="" [matMenuTriggerFor]="more">
              <mat-icon matTooltip="More">more_vert</mat-icon>
            </button>
            <mat-menu #more>
              <button (click)="delete(note);" mat-menu-item>
                Delete
              </button>
            </mat-menu>
          </div>
        </div>

      </mat-card-footer>

    </mat-card>

  </div>

</div>