@import 'src/app/SCSS/styles';

@mixin matCard(){
    height:auto;
    margin-top:1em;
    border-radius:10px;
}

@mixin matCardHover(){

    button{
        display: none;
    }
    &:hover,&:active{
        button{
            display: block;
        }   
    }
}

.mat-card-lt-sm{
    width:100%;
    @include matCard();
    @include matCardHover();
}
.mat-card-gt-xs{
    max-width:200px;
    min-width:150px;
    @include matCard();
    @include matCardHover();
}

