@import 'src/app/SCSS/styles';

@mixin matCard(){
    height:auto;
    margin-top:1em;
    border-radius:10px;
}

@mixin matCardHover(){

    button{
        display: none;
    }
    &:hover{
        button{
            display: inline-block;
        }
        
    }
    &:focus,:active{
        button{
            display: inline-block;
        }
    }
}

.mat-card-lt-sm{
    width:320px;
    @include matCard();
    @include matCardHover();
}
.mat-card-gt-xs{
    width:240px;
    @include matCard();
    @include matCardHover();
}

