<!-- mat card expansion panel -->
<div fxLayoutAlign="center start" fxLayout="column">

  <div style="width:100%;margin-bottom:0.7em" fxLayoutAlign="center center">
      <mat-card [fxHide]="panelOpenState" style="height: 10px" ngClass.gt-xs="mat-card-gt-xs" ngClass.lt-sm="mat-card-lt-sm" >
          <mat-card-content fxLayout="row">
              <div style="width:70%">
                  <input matInput type="text" (click)="panelOpenState=!panelOpenState" placeholder="Take a note..." autofocus/>
              </div>
              <div style="width:30%; margin-top:-1em" fxLayoutAlign="space-around center">
                  <button mat-icon-button color="" (click)="panelOpenState=!panelOpenState; ">
                    <mat-icon matTooltip="New List">check_box</mat-icon>
                  </button>
                  <button mat-icon-button color=""><mat-icon matTooltip="New note with image">crop_original</mat-icon></button>
              </div>
          </mat-card-content>
          
        </mat-card>
    
        <!-- mat card expanded panel -->
        <mat-card [fxHide]="!panelOpenState" [ngStyle]="{'background-color': matCardColor}" ngClass.gt-xs="mat-card-gt-xs" ngClass.lt-sm="mat-card-lt-sm" >
            
          <!-- mat card title -->
          <mat-card-title fxLayoutAlign="space-between center" style="margin-top:-0.5em;">
            <div style="width:80%;">
                <input matInput type="text" placeholder="Title" [formControl]=title/>
            </div>
            <div style="width:20%;" fxLayoutAlign="end center" [fxHide]="!isAdvancedUser">
              <button mat-icon-button color="" [fxHide]="isPinned" (click)="setPin()" ><img src="src/assets/images/outline_fiber_pin.png"/></button>
              <button mat-icon-button color="" [fxHide]="!isPinned" (click)="setPin()" ><img src="src/assets/images/baseline_fiber_pin.png"/></button>
            </div>
            
          </mat-card-title>
          <mat-card-content>
            <textarea matInput matTextareaAutosize placeholder="Take a note..." [formControl]="description">{{description.value}}</textarea>
          </mat-card-content>
    
          <mat-card-actions>
              <mat-chip-list>
                  <mat-chip>
                    {{labelName}}
                  </mat-chip>
                </mat-chip-list>
          </mat-card-actions>
          <!-- mat card footer -->
          <mat-card-footer>
            
            <div class="footer-icons-div" fxLayoutAlign="space-around center" >
              <button mat-icon-button color=""><mat-icon matTooltip="Remind me">notifications_none</mat-icon></button>
              <button mat-icon-button color=""><mat-icon matTooltip="Collaborator">person_add</mat-icon></button>
              <button mat-icon-button color="" [matMenuTriggerFor]="cardColorMenu"><mat-icon matTooltip="Change color">color_lens</mat-icon></button>
              <mat-menu #cardColorMenu="matMenu" fxlayoutAlign="space-around center" fxLayoutGap="2%">
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                    <div mat-menu-item (click)="updateBackgroundColor('#F5F5EC')" style="background-color: #F5F5EC;"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#EB716B')" style="background-color: #EB716B;"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#FCE42A')" style="background-color: #FCE42A"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#6DE391')" style="background-color: #6DE391;"></div>
                </div>
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                    <div mat-menu-item (click)="updateBackgroundColor('#1597DB')" style="background-color: #1597DB;"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#08ECF2')" style="background-color: #08ECF2;"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#8C7FBF')" style="background-color: #8C7FBF;"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#D37CE2')" style="background-color: #D37CE2;"></div>
                </div>
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                    <div mat-menu-item (click)="updateBackgroundColor('#FF8632')" style="background-color: #FF8632"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#EA7AC9')" style="background-color: #EA7AC9;"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#A35237')" style="background-color: #A35237;"></div>
                    <div mat-menu-item (click)="updateBackgroundColor('#959592')" style="background-color: #959592;"></div>
                </div>
              </mat-menu>
              <button mat-icon-button color=""><mat-icon matTooltip="Add image">crop_original</mat-icon></button>
              <button mat-icon-button (click)="setArchive(true)" [fxHide]="isArchived" color=""><mat-icon matTooltip="Archive">archive</mat-icon></button>
              <button mat-icon-button (click)="setArchive(false)" [fxHide]="!isArchived" color=""><mat-icon matTooltip="Unarchive">archive</mat-icon></button>
              <button mat-icon-button color="" [matMenuTriggerFor]="more_vert"><mat-icon matTooltip="More">more_vert</mat-icon></button>
              <mat-menu #more_vert="matMenu">
                <button (click)="delete(note);" mat-menu-item>
                  Delete
                </button>
              </mat-menu>
              <button mat-icon-button color=""><mat-icon matTooltip="Undo">undo</mat-icon></button>
              <button mat-icon-button color=""><mat-icon matTooltip="Redo">redo</mat-icon></button>
            </div>
  
            <!-- closing button -->
            <div class="footer-close-button-div" fxLayoutAlign="end center">
                <button mat-button (click)="save(); panelOpenState=!panelOpenState;">Close</button>
            </div>
    
          </mat-card-footer>
        </mat-card>
  </div>
  
  <!-- notes list -->
  <div style="width:100%;height:auto;" fxLayoutAlign="center start">

    <div style="width:70%;height:auto;" fxLayout="column" fxLayoutAlign="center center">

      <!-- pinned notes -->
      <div *ngIf="pinCountZero" style="width:90%;" fxLayoutAlign="start center">
        <h5>PINNED</h5>
      </div>
    
      <app-pinned-notes [data]="data" [notesList]="labelNotesList" [isAdvancedUser]="true" [labels]="labels" [searchWord]="searchWord" (componentRef)="refreshNotesList($event)" ></app-pinned-notes>
    
      <!-- unpinned notes list  -->
      <div *ngIf="pinCountZero" style="width:90%;">
        <h5>OTHERS</h5>
      </div>
      
      <app-unpinned-notes [data]="data" [notesList]="labelNotesList" [isAdvancedUser]="true" [labels]="labels" [searchWord]="searchWord" (componentRef)="refreshNotesList($event)" ></app-unpinned-notes>
    </div>
  </div>
  
</div>