.loginForm{
    border-radius: 10px;
    position:fixed;
    top: 50%;
    left: 50%;
    width:28em;
    height:32em;
    margin-top: -15em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
}
#myDiv{
    text-align: center;
    display: flex;
    flex-flow: column;
    border-width: 2px;
    // position:fixed;
    margin-top: -3em; /*set to a negative number 1/2 of your height*/
    margin-left: -3em; /*set to a negative number 1/2 of your width*/
}
.signSpan{
    font-size: 2em;
}
#forgotDiv{
color: cornflowerblue;
}
#create-Button-View{
    display:inline;
}
#formDiv{
    flex:1;
}