@import 'src/app/SCSS/styles';
.login-page{
    @include page-resolution();
}
.border-class{
    @include border-gt-xs(450px,35%,31em);
}
.no-border-class{
    position: $positionAbsolute;
    width:$fullWidth;
    height: $fullHeight;
    overflow: $overflowAuto;
}
.fundoo-title-class{
    font-size:20px;
}
.signin-text{
    margin-top:1em;
    font-size: 20px;
}
.use-text{
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.email-bar{
    // margin-top:1em;
    width:$fullWidth;
}
.password-bar{
    width:$fullWidth;
}
.forgot-class{
    margin-top:-1em;
    width:$commonMatWidth;
}
.notComputer{
    margin-top:2em;
    width:$commonMatWidth;
    font-size:14.5px;
    color: grey;
}
.further-step{
    margin-top:3em;
    width:$commonMatWidth;
}

.form-width{
    width:$commonMatWidth;
}