<!-- <div class="loginForm">
  <div id="#myDiv">
    <div>
      Fundoo
    </div>
    <div>
      <mat-list>
        <mat-list-item>
          <span class="signSpan">Sign in</span>
        </mat-list-item>
        <mat-list-item>Use your fundoo Account</mat-list-item>
      </mat-list>
    </div>
    <div>
      <form>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormController">
        </mat-form-field>
      </form>
      <div>Forgot email?</div>
    </div>
    <div>
      <div style="width:'60%'">create account</div>
      <div style="width:'30%'"><button mat-raised-button color="primary">Next</button></div>
    </div>
  </div>
</div> -->


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">Item 1</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-3" fxFlex>Item 3</div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5" fxFlex="200px">Item 5</div>
</div>