<div style="width:100%;" [fxLayout]="data.viewLayoutType" fxLayout.lt-sm="column" gdGridAlign>

    <div *ngFor="let note of notesList | search:searchWord">
      <mat-card [ngStyle]="{'background-color':note.color}" ngStyle.gt-xs="margin-left:15px;"
        [ngClass]="{'mat-card-list-gt-xs':!data.viewStyling,'mat-card-grid-gt-xs':data.viewStyling}"
        ngClass.lt-sm="mat-card-list-lt-sm" *ngIf="!note.isDeleted && !note.isArchived && note.isPined">
  
        <mat-card-title fxLayoutAlign="space-between center">
  
          <div (click)="openDialog(note)" style="width:80%;overflow-wrap: break-word;">
            {{note.title}}
          </div>
          <div style="width:20%;" fxLayoutAlign="end center">
            <button mat-icon-button color="" (click)="pinUnpin(note,false)"><img
                src="src/assets/images/baseline_fiber_pin.png" /></button>
          </div>
  
        </mat-card-title>
        <mat-card-content (click)="openDialog(note)" style="white-space: pre-wrap;overflow-wrap: break-word;">
          <div>
            {{note.description}}
          </div>
          <!-- if checkList Notes is Present -->
          <div *ngIf="note.description==''" style="white-space: pre-wrap;overflow-wrap: break-word;" fxLayout="column">
            <div *ngIf="checkListItemStatus(note.noteCheckLists,'open');" fxLayout="column">
              <div *ngFor="let item of note.noteCheckLists">
  
                <mat-checkbox *ngIf="item.status=='open'" (click)="$event.stopPropagation()"
                  (change)="changecheckListStatus(note.id,item,$event)" color="primary" [checked]="false" fxFlex>
                  {{item.itemName}}
                </mat-checkbox>
              </div>
            </div>
            <div *ngIf="checkListItemStatus( note.noteCheckLists, 'close');" fxLayout="column">
              <div *ngFor="let item of note.noteCheckLists">
  
                <mat-checkbox *ngIf="item.status=='close'" style="text-decoration:line-through;"
                  (click)="$event.stopPropagation()" (change)="changecheckListStatus(note.id,item,$event)" color="primary"
                  [checked]="true" fxFlex>{{item.itemName}}
                </mat-checkbox>
              </div>
            </div>
  
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-list>
            <mat-chip *ngFor="let reminder of note.reminder" [removable]="true" (removed)="removeReminder(note.id)" [style.text-decoration]="reminderDecoration(reminder)">
  
                {{ reminder | myDate }} 
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let person of note.collaborators">
              {{person.firstName.charAt(0).toUpperCase()}}
            </mat-chip>
            <mat-chip *ngFor="let label of note.noteLabels" [removable]="true" (removed)="removeLabel(note.id,label.id)">
              {{label.label}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-card-actions>
        <mat-card-footer>
          <div fxLayoutAlign="space-around center" [fxHide]="!isAdvancedUser">
  
            <div>
              <button mat-icon-button color="" [matMenuTriggerFor]="reminder">
                <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
              </button>
              <mat-menu #reminder="matMenu">
                <app-reminder-component (reminderData)="setReminder($event,note);"></app-reminder-component>
              </mat-menu>
            </div>
  
            <div><button mat-icon-button color="" (click)="addCollaborator(note)">
                <mat-icon matTooltip="Collaborator">person_add</mat-icon>
              </button>
            </div>
  
            <div>
              <button mat-icon-button color="" [matMenuTriggerFor]="colorsMenu">
                <mat-icon matTooltip="Change color">color_lens</mat-icon>
              </button>
              <!-- menu of color lens -->
              <mat-menu #colorsMenu="matMenu" fxlayoutAlign="space-around center" fxLayoutGap="2%">
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                  <div mat-menu-item (click)="updateBackgroundColor('#F5F5EC',note)" style="background-color: #F5F5EC;">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#EB716B',note)" style="background-color: #EB716B;">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#FCE42A',note)" style="background-color: #FCE42A">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#6DE391',note)" style="background-color: #6DE391;">
                  </div>
                </div>
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                  <div mat-menu-item (click)="updateBackgroundColor('#1597DB',note)" style="background-color: #1597DB;">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#08ECF2',note)" style="background-color: #08ECF2;">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#8C7FBF',note)" style="background-color: #8C7FBF;">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#D37CE2',note)" style="background-color: #D37CE2;">
                  </div>
                </div>
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                  <div mat-menu-item (click)="updateBackgroundColor('#FF8632',note)" style="background-color: #FF8632">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#EA7AC9',note)" style="background-color: #EA7AC9;">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#A35237',note)" style="background-color: #A35237;">
                  </div>
                  <div mat-menu-item (click)="updateBackgroundColor('#959592',note)" style="background-color: #959592;">
                  </div>
                </div>
              </mat-menu>
            </div>
  
            <div><button mat-icon-button color="">
                <mat-icon matTooltip="Add image">crop_original</mat-icon>
              </button>
            </div>
  
            <div>
              <button mat-icon-button color="" (click)="archive(note)">
                <mat-icon matTooltip="Archive">archive</mat-icon>
              </button>
            </div>
  
            <div><button mat-icon-button color="" [matMenuTriggerFor]="more">
                <mat-icon matTooltip="More">more_vert</mat-icon>
              </button>
              <!-- menu of morevert icon -->
              <mat-menu #more="matMenu">
                <button (click)="delete(note);" mat-menu-item>
                  Delete
                </button>
                <button [matMenuTriggerFor]="label" (click)="addLabel(note);" mat-menu-item>
                  Add label
                </button>
                <mat-menu #label="matMenu" style="height:30%;overflow: scroll;">
                  <div (click)="$event.stopPropagation();">
                    Label note
                  </div>
                  <div mat-menu-item (click)="$event.stopPropagation();" style="height:40px;padding:5px;">
                    <mat-form-field appearance="outline">
                      <input matInput type="search" placeholder="search label">
                      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>search</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div (click)="$event.stopPropagation();" *ngFor="let label of labels">
                    <div mat-menu-item>
                      <mat-checkbox (change)="addLable(note.id,label.id,$event)" color="primary"
                        [checked]="isChecked(note,label)">{{label.label}}</mat-checkbox>
                    </div>
                  </div>
                </mat-menu>
                <div mat-menu-item>
                  Show checkboxs
                </div>
                <div mat-menu-item>
                  Ask Question
                </div>
              </mat-menu>
            </div>
          </div>
  
        </mat-card-footer>
  
      </mat-card>
    </div>
  </div>