<!-- mat dialog container -->
<div [ngStyle]="{'background-color':data.color}" style="padding:5% 10%">

    <!-- mat dialog title -->
    <div mat-dialog-title fxLayoutAlign="space-between center" style="width:100%;height:100%">
        <div>
            <mat-form-field appearance="fill legacy">
                <input matInput type="text" [value]="data.title" [formControl]="title" />
            </mat-form-field>
        </div>
        <div>
            <button *ngIf="!data.isPined" mat-icon-button color="" (click)="pinUnpin(true)"><img
                    src="src/assets/images/outline_fiber_pin.png" />
            </button>
            <button *ngIf="data.isPined" mat-icon-button color="" (click)="pinUnpin(false)"><img
                    src="src/assets/images/baseline_fiber_pin.png" />
            </button>
        </div>
    </div>

    <!-- mat dialog content -->
    <div mat-dialog-content style="white-space: pre-wrap;overflow-wrap: break-word;">
        <mat-form-field *ngIf="data.noteCheckLists.length <= 0" appearance="fill legacy">
            <textarea matInput matTextareaAutosize [value]="data.description" [formControl]="description"></textarea>
        </mat-form-field>
        <!-- if checkList Notes is Present -->
        <div *ngIf="data.noteCheckLists.length>0" fxLayout="column">
            <div *ngFor="let item of data.noteCheckLists; index as i" fxLayout="row" fxLayoutAlign="center center">
                <mat-checkbox (change)="changecheckListStatus(item,$event)" [checked]="item.status=='close'?true:false">
                </mat-checkbox>
                <input matInput type="text" [formControl]="listItemFormArray.controls[i]">
                <button (click)="filterCheckList(item,i)" mat-icon-button>
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon mat-list-icon>add</mat-icon>
                <input matInput (keyup.enter)="EnterCheckList($event)" placeholder="Take a note..."
                    [formControl]="listDescription">
                <mat-icon>clear</mat-icon>
            </div>
        </div>
    </div>

    <!-- mat dialog actions -->
    <div mat-dialog-actions>
        <mat-chip-list>
            <mat-chip *ngFor="let reminder of data.reminder" [removable]="true" (removed)="removeReminder()"
                [style.text-decoration]="reminderDecoration(reminder)">
                {{ reminder | myDate }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let person of data.collaborators">
                {{person.firstName.charAt(0).toUpperCase()}}
            </mat-chip>
            <mat-chip *ngFor="let label of data.noteLabels" [removable]="true"
                (removed)="removeLabel(data.id,label.id)">
                {{label.label}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <!-- mat- dialog footer -->
    <div mat-dialog-footer fxLayoutAlign="space-between center" fxLayout.lt-sm="column">

        <div class="footer-icons-div" fxLayoutAlign="space-around center">

            <div>
                <button mat-icon-button color="" [matMenuTriggerFor]="reminder">
                    <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
                </button>
                <mat-menu #reminder="matMenu">
                    <app-reminder-component (reminderData)="setReminder($event);"></app-reminder-component>
                </mat-menu>
            </div>

            <button (click)="addCollaborator()" mat-icon-button color="">
                <mat-icon matTooltip="Collaborator">person_add</mat-icon>
            </button>


            <button mat-icon-button color="" [matMenuTriggerFor]="colorsMenu">
                <mat-icon matTooltip="Change color">color_lens</mat-icon>
            </button>

            <mat-menu #colorsMenu="matMenu" fxlayoutAlign="space-around center" fxLayoutGap="2%">
                <app-color-picker [note]="" (colorEvent)="updateBackgroundColor($event)"></app-color-picker>
            </mat-menu>


            <button mat-icon-button color="">
                <mat-icon matTooltip="Add image">crop_original</mat-icon>
            </button>


            <button (click)="archive();" mat-icon-button color="">
                <mat-icon>archive</mat-icon>
            </button>


            <button mat-icon-button color="" [matMenuTriggerFor]="more">
                <mat-icon matTooltip="More">more_vert</mat-icon>
            </button>
            <!-- menu of morevert icon -->
            <mat-menu #more="matMenu">
                <button (click)="delete();" mat-menu-item>
                    Delete
                </button>
                <button [matMenuTriggerFor]="label" mat-menu-item>
                    Add label
                </button>
                <mat-menu #label="matMenu" style="height:30%;overflow: scroll;">
                    <div (click)="$event.stopPropagation();">
                        Label note
                    </div>
                    <div mat-menu-item (click)="$event.stopPropagation();" style="height:40px;padding:5px;">
                        <mat-form-field appearance="outline">
                            <input matInput type="search" placeholder="search label">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div (click)="$event.stopPropagation();" *ngFor="let label of labels">
                        <div mat-menu-item>
                            <mat-checkbox (change)="addLable(data.id,label.id,$event)" color="primary"
                                [checked]="isChecked(data,label)">{{label.label}}</mat-checkbox>
                        </div>
                    </div>
                </mat-menu>
                <div mat-menu-item>
                    Show checkboxs
                </div>
                <div mat-menu-item>
                    Ask Question
                </div>
            </mat-menu>

        </div>

        <!-- closing button -->
        <div fxLayoutAlign="end center">
            <button mat-button (click)="onCloseClick()" cdkFocusInitial>Close</button>
        </div>
    </div>
</div>