<!-- mat dialog container -->
<div [ngStyle]="{'background-color':data.color}" style="padding:5% 10%">
    
    <!-- mat dialog title -->
    <div mat-dialog-title fxLayoutAlign="space-between center" style="width:100%;height:100%">
        <div>
            <mat-form-field appearance="fill legacy">
                <input matInput type="text" [value]="data.title" [formControl]="title" />
            </mat-form-field>
        </div>
        <div>
            <mat-icon>fiber_pin</mat-icon>
        </div>
    </div>

    <!-- mat dialog content -->
    <div mat-dialog-content style="white-space: pre-wrap;overflow-wrap: break-word;">
        <mat-form-field *ngIf="data.noteCheckLists.length <= 0" appearance="fill legacy">
            <textarea matInput matTextareaAutosize [value]="data.description" [formControl]="description"></textarea>
        </mat-form-field>
        <!-- if checkList Notes is Present -->
        <mat-list *ngIf="data.noteCheckLists.length>0">
            <mat-list-item *ngFor="let item of data.noteCheckLists">
                <mat-checkbox (change)="checkListItemStatus($event)" fxFlex>{{item.itemName}}</mat-checkbox>
                <button (click)="filterCheckList(item)" mat-icon-button>
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <input matInput (keyup.enter)="EnterCheckList($event)" placeholder="Take a note...">
                <mat-icon>clear</mat-icon>
            </mat-list-item>
        </mat-list>
    </div>

    <!-- mat dialog actions -->
    <div mat-dialog-actions>
        <mat-chip-list>
            <mat-chip *ngFor="let person of data.collaborators">
                {{person.firstName.charAt(0).toUpperCase()}}
            </mat-chip>
            <mat-chip *ngFor="let label of data.noteLabels" [removable]="true"
                (removed)="removeLabel(data.id,label.id)">
                {{label.label}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    
    <!-- mat- dialog footer -->
    <div mat-dialog-footer fxLayoutAlign="space-between center">

        <div class="footer-icons-div" fxLayoutAlign="space-around center">

            <button mat-icon-button color="">
                <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
            </button>
            
            <button (click)="addCollaborator()" mat-icon-button color="">
                <mat-icon matTooltip="Collaborator">person_add</mat-icon>
            </button>
            
            
            <button mat-icon-button color="" [matMenuTriggerFor]="colorsMenu">
                <mat-icon matTooltip="Change color">color_lens</mat-icon>
            </button>

            <mat-menu #colorsMenu="matMenu" fxlayoutAlign="space-around center" fxLayoutGap="2%">
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                    <div mat-menu-item (click)="updateBackgroundColor('#F5F5EC')" style="background-color: #F5F5EC;">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#EB716B')" style="background-color: #EB716B;">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#FCE42A')" style="background-color: #FCE42A">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#6DE391')" style="background-color: #6DE391;">
                    </div>
                </div>
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                    <div mat-menu-item (click)="updateBackgroundColor('#1597DB')" style="background-color: #1597DB;">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#08ECF2')" style="background-color: #08ECF2;">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#8C7FBF')" style="background-color: #8C7FBF;">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#D37CE2')" style="background-color: #D37CE2;">
                    </div>
                </div>
                <div fxLayout="row wrap" class="mat-menu-div" fxLayoutAlign="space-around center">
                    <div mat-menu-item (click)="updateBackgroundColor('#FF8632')" style="background-color: #FF8632">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#EA7AC9')" style="background-color: #EA7AC9;">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#A35237')" style="background-color: #A35237;">
                    </div>
                    <div mat-menu-item (click)="updateBackgroundColor('#959592')" style="background-color: #959592;">
                    </div>
                </div>
            </mat-menu>


            <button mat-icon-button color="">
                <mat-icon matTooltip="Add image">crop_original</mat-icon>
            </button>


            <button (click)="archive();" mat-icon-button color="">
                <mat-icon [matTooltip]=" data.isArchive ? Unarchive : Archive">archive</mat-icon>
            </button>


            <button mat-icon-button color="" [matMenuTriggerFor]="more">
                <mat-icon matTooltip="More">more_vert</mat-icon>
            </button>
            <!-- menu of morevert icon -->
            <mat-menu #more="matMenu">
                <button (click)="delete();" mat-menu-item>
                    Delete
                </button>
                <button [matMenuTriggerFor]="label" (click)="addLabel(data);" mat-menu-item>
                    Add label
                </button>
                <mat-menu #label="matMenu" style="height:30%;overflow: scroll;">
                    <div (click)="$event.stopPropagation();">
                        Label note
                    </div>
                    <div mat-menu-item (click)="$event.stopPropagation();" style="height:40px;padding:5px;">
                        <mat-form-field appearance="outline">
                            <input matInput type="search" placeholder="search label">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div (click)="$event.stopPropagation();" *ngFor="let label of labels">
                        <div mat-menu-item>
                            <mat-checkbox (change)="addLable(data.id,label.id,$event)" color="primary"
                                [checked]="isChecked(data,label)">{{label.label}}</mat-checkbox>
                        </div>
                    </div>
                </mat-menu>
                <div mat-menu-item>
                    Show checkboxs
                </div>
                <div mat-menu-item>
                    Ask Question
                </div>
            </mat-menu>


            <button mat-icon-button color="">
                <mat-icon matTooltip="Undo">undo</mat-icon>
            </button>

            <button mat-icon-button color="">
                <mat-icon matTooltip="Redo">redo</mat-icon>
            </button>

        </div>

        <!-- closing button -->
        <div fxLayoutAlign="end center">
            <button mat-button (click)="onCloseClick()" cdkFocusInitial>Close</button>
        </div>
    </div>
</div>