<div style="width:80%; margin-left:10%" fxLayout="column">
    <div fxLayout="row" fxFlex>
        <div style="width:80%; height:200px; overflow: auto;">
            <div>
                <h1>{{notes.title}}</h1>
            </div>
            <div>
                <h4>
                    {{notes.description}}
                </h4>
            </div>
            <div *ngIf="notes?.noteCheckLists?.length > 0">
                <div *ngFor="let list of notes.noteCheckLists">
                    <mat-checkbox [checked]="list.status=='close' ? true : false ">{{list.itemName}}</mat-checkbox>
                </div>
            </div>
        </div>
        <div fxLayoutAlign="center start" style="width:20%">
            <div>
                <button mat-button (click)="closeQuestionAnswers()">
                    close
                </button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-list *ngIf="notes.questionAndAnswerNotes.length>0"  fxLayout="column">
        <mat-list-item> <em><b>Question Asked</b></em> </mat-list-item>
        <mat-list-item *ngFor="let question of notes.questionAndAnswerNotes">
            <div [innerHTML]="question.message"></div>
        </mat-list-item>
    </mat-list>
    <div *ngIf="notes.questionAndAnswerNotes.length == 0" [froalaEditor] aria-placeholder="Type something"></div>
    <div *ngIf="notes.questionAndAnswerNotes.length == 0" fxLayoutAlign="end center">
        <button (click)="askQuestion()" mat-button color="primary">ASK</button>
    </div>

    <mat-divider></mat-divider>
    <div *ngIf="notes.questionAndAnswerNotes.length == 0">
        {{notes.user.firstName}} {{ notes.user.lastName}} 
        <!-- {{notes.questionAndAnswerNotes[0].createdDate | myDate}} -->
    </div>
</div>