@import 'src/app/SCSS/styles';

.reset-page{
    width:$fullWidth;
    height:$fullHeight;
}
form{
    width:$commonMatWidth;
    .password{
        width:$fullWidth;
    }
}
.border-class{
    @include border-gt-xs(450px,35%,31em);
}
.no-border-class{
    position: $positionAbsolute;
    width:$fullWidth;
    height: $fullHeight;
    overflow-Y: $overflowAuto;
}
.fundoo-title-class{
    font-size:20px;
}
.password-reset-text{
    margin-top:1em;
    font-size: 20px;
}